/* Reset default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: 'Norse Bold', sans-serif;
	overflow-y: hidden;
}

:root {
	--primary-color: #1992d4;
	--secondary-color: #f0b429;
	--tertiary-color: #e2e8f0;
	--main-text-color: #000000;
	--secondary-text-color: #ffffff;
	--input-focus-border-color: #2e5bdb;
	--input-error-border-color: #d16868;
	--box-shadow-color: #e8e9e9;
}

.wrapper {
	display: grid;
	grid-template-columns: 0.6fr 2.4fr;
	grid-gap: 5px;
	height: 100vh;
}

/* Sidebar starts here */
.wrapper .sidebar {
	background-color: var(--primary-color);
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.wrapper .sidebar .sidebar_logo-container {
	display: block;
	margin: 0 auto;
	width: 225px;
	height: 117px;
	padding-bottom: 20px;
}

.wrapper .sidebar .sidebar_logo-container img {
	width: 225px;
	height: 117px;
}

.wrapper .sidebar hr {
	margin: 27px 10px;
	border: none;
	border-top: 1px solid var(--secondary-text-color);
	width: 90%;
}

.wrapper .sidebar .sidebar_link-items-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.wrapper .sidebar .sidebar_link-items-container a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	color: var(--secondary-text-color);
	padding: 10px 25px;
	text-decoration: none;
	font-size: 16px;
	text-align: start;
	width: 100%;
	margin-left: 15px;
}

.wrapper .sidebar .sidebar_link-items-container a:hover {
	transform: scale(1.1);
	transition: transform 0.2s ease-in-out;
}

.wrapper .sidebar .sidebar_link-items-container a i {
	margin-right: 10px;
	min-width: 15%;
}

/* Sidebar ends here */

.main-content {
	display: grid;
	grid-template-rows: 0.67fr 1.32fr;
	grid-gap: 5px;
	background-color: #e8e9e9;
}

.row1 {
	background-color: var(--secondary-text-color);
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.row {
	width: 100%;
	height: 50%;
}

.row2 {
	background-color: #e8e9e9;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 5px;
	padding: 18px;
	height: 481px;
	overflow-y: auto;
}

.row2 .left-col {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-gap: 10px;
}

.row2 h2 {
	font-size: 2rem;
}

/* Search nav Start */

.row1 .column {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.row1 .column .row1_inner-one {
	height: 50%;
	display: grid;
	grid-template-columns: 1.2fr 0.8fr;
	align-items: center;
	padding: 10px;
}

.row1 .column .row1_inner-one .col1 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 9%;
}

.row1 .column .row1_inner-one .col2 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 9%;
}

.row1 .column .row1_inner-one .search {
	margin-left: 15px;
	width: 100%;
	display: flex;
	background-color: var(--tertiary-color);
	border-radius: 20px;
	padding: 5px 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row1 .column .row1_inner-one .search i {
	margin-right: 5px;
}

.row1 .column .row1_inner-one .search input {
	border: none;
	outline: none;
	width: 100%;
}

.row1 .column .row1_inner-one .search input:focus {
	border: 1px solid var(--input-focus-border-color);
	border-radius: 20px;
}

.row1 .column .row1_inner-one .user-info {
	display: flex;
	align-items: center;
}

.row1 .column .row1_inner-one .user-info i {
	margin-right: 15px;
}

.row1 .column .row1_inner-one .user-info img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
}

.row1 .column .row1_inner-one .user-info .username {
	font-weight: bold;
}

/* Search nav Start */

/* user nav Start */

.row1 .column .row1_inner-two {
	height: 50%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 0px 10px 0px 74px;
}

.row1 .column .row1_inner-two .col1 .user-info {
	display: flex;
	align-items: center;
}

.row1 .column .row1_inner-two .col1 .user-info .user-info-copy {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row1 .column .row1_inner-two .col1 .user-info .user-info-copy p {
	font-size: 14px;
	align-self: flex-start;
}

.row1 .column .row1_inner-two .col1 .user-info .user-info-copy span {
	font-size: 18px;
	font-weight: bold;
}

.row1 .column .row1_inner-two .col1 .user-info img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 0 15px 15px 0px;
}

.row1 .column .row1_inner-two .col2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0 50px;
}

.row1 .column .row1_inner-two .col2 button {
	padding: 10px;
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: 27px;
	font-size: 16px;
	cursor: pointer;
	width: 68%;
}

.row1 .column .row1_inner-two .col2 button:hover {
	opacity: 72%;
}

/* user nav end */

/* Project section start */
.row2 .left-col .project-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	max-height: 80%;
}

.row2 .left-col .project-cards .project-card {
	border-left: 5px solid var(--secondary-color);
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	max-height: 250px;
}

.row2 .left-col .project-cards .project-card .project-card-header {
	margin-top: 15px;
	padding: 0px 20px;
	color: var(--main-text-color);
}

.row2 .left-col .project-cards .project-card .project-card-body {
	padding: 1px 20px;
	min-height: 108px;
	margin-top: 10px;
}

.row2 .left-col .project-cards .project-card .project-card-footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1px 20px;
}

.row2 .left-col .project-cards .project-card .project-card-footer button {
	color: var(--main-text-color);
	border: none;
	padding: 0px 18px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.row2 .left-col .project-cards .project-card .project-card-footer button:hover {
	opacity: 72%;
}

.row2 .left-col .project-cards .project-card .project-card-footer button i {
	margin-right: 5px;
}
/* Project section end */

/* Announcements start*/
.row2 .right-col {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	padding: 0 5px 0 15px;
}

.row2 .right-col .announcements-container h2 {
	margin-bottom: 10px;
}

.row2 .right-col .right-col_container {
	display: grid;
	grid-template-rows: repeat(3, auto);
	background-color: var(--secondary-text-color);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	height: 350px;
	border-radius: 5px;
	padding-top: 15px;
}

.row2 .right-col .right-col_container .right-col_row {
	display: grid;
	grid-template-rows: auto auto;
	grid-row-gap: 5px;
	padding: 0 10px 10px 15px;
}

.row2 .right-col .right-col_container .right-col_row h5 {
	margin-top: 5px;
	font-size: 14px;
}

.row2 .right-col .right-col_container .right-col_row p {
	margin: 0;
	font-size: 14px;
}

.row2 .right-col .right-col_container .right-col_row hr {
	margin-top: 5px;
	border: none;
	border-top: 1px solid #ccc;
}

/* Announcements end*/

/* Trending start*/
.row2 .right-col .trending-container h2 {
	margin: 10px 0 10px 0;
}

.row2 .right-col {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	padding: 0 5px 0 15px;
}

.row2 .right-col .trending-container h2 {
	margin-bottom: 10px;
}

.row2 .right-col .trending-container .right-col_container {
	height: 81%;
}

.row2 .right-col .right-col_container .right-col_row .row-container {
	display: flex;
	flex-direction: row;
}

.row2 .right-col .right-col_container .right-col_row .circle-image {
	width: 54px;
	height: 54px;
	background-color: #ccc;
	border-radius: 50%;
}

.row2 .right-col .right-col_container .right-col_row .circle-image img {
	width: 54px;
	height: 54px;
}

.row2 .right-col .right-col_container .right-col_row .right-col-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 6px 0 0 36px;
}

.row2
	.right-col
	.right-col_container
	.right-col_row
	.right-col-text
	p:first-of-type {
	margin: 0;
	font-size: 14px;
}

.row2
	.right-col
	.right-col_container
	.right-col_row
	.right-col-text
	p:last-of-type {
	margin: 0;
	font-size: 12px;
	color: var(--main-text-color);
	opacity: 50%;
}

.row2 .right-col .right-col_container .right-col_row hr {
	margin-top: 10px;
	border: none;
	border-top: 1px solid #ccc;
}
